.container {
  grid-area: middle;
}

.content {
  box-sizing: border-box;
  width: 48vw;
  height: 673px;
  flex-basis: 48%;
  height: 673px;
  margin-top: 32px;
  padding: 20px;
  border-radius: 16px;
  background: #fff;
}

.content h2 {
  margin-top: 0;
}

@media (max-width: 1240px) {
  .container > .content {
    width: 100%;
    max-width: 100%;
    max-height: 80vh;
  }
}

@media (max-width: 780px) {
  .container > .content {
    width: 95vw;
    max-width: 95vw;
    max-height: 120vh;
  }
}

@media (max-width: 600px) {
  .container > .content {
    width: 95vw;
    max-width: 95vw;
    max-height: 150vh;
  }
}
