.container {
  background: #fff;
  height: 349px;
  width: 766px;
  margin-top: 32px;
  padding: 20px;
  border-radius: 16px;
}

.container h2 {
  margin-top: 0;
}

table {
  text-align: left;
  width: 100%;
}
