.container {
  background: #fff;
  height: 349px;
  width: 766px;
  margin-top: 32px;
  padding: 20px;
  border-radius: 16px;
  overflow-y: hidden;
}

.container h2 {
  margin-top: 0;
}

table {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.scrollContent {
  overflow-y: scroll;
}

table tr {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 14px;
  margin-top: 19px;
  margin-bottom: 37px;
  line-height: 1;
  text-align: left;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 40%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 45%;
}

table .topbar {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 14px;
  background: #f6f7f8;
  border-radius: 24px;
}

.scrollContent::-webkit-scrollbar {
  width: 6px;
}

.scrollContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollContent::-webkit-scrollbar-thumb {
  background-color: #072635;
  height: 30px;
}
