@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;

  background: #f6f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

p,
li,
a,
th,
td {
  font-size: 14px;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  gap: 20px;
  margin: auto;
}

@media (max-width: 1240px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "left right"
      "middle middle";
    max-width: 997px;
    margin: auto;
  }
}

@media (max-width: 780px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "left"
      "right"
      "middle";
    max-width: 100vw;
    margin: auto;
  }
}
