.container {
  width: 149px;
  height: 84px;
  margin-right: 59px;
}

.container p:nth-last-of-type(1) {
  color: #072635;
  margin-top: 8px;
}

.container p.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  font-weight: 700;
  letter-spacing: 0;
}

h3 {
  margin: 0;
}

hr {
  color: #cbc8d4;
}

.flex {
  display: flex;
  align-items: center;
}

svg {
  margin-bottom: 3px;
}

span {
  display: block;
  height: 14px;
  width: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
}
