.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 21px;
  margin-top: 20px;
}

.container div {
  flex: 1;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
