.chartBox {
  height: 100% !important;
  width: 70% !important;
}

.chartBoxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartBox h3 {
  font-size: 18px;
  font-weight: 700;
}

.dateBox {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.dateBox p {
  margin: 0;
  margin-right: 16px;
  line-height: 1;
}

.dateBox svg {
  margin-bottom: 0;
}
